/*Дополнительные и повторяющиеся классы*/

.overlay {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

/*Убираем letter spacing в cover__title*/

/* Блок header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 85px 50 96px 50px;
  margin-bottom: 86px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  text-transform: lowercase;
  margin-left: 5px;
  margin-bottom: 10px;
  letter-spacing: 0.013em;
}
.header__links-list {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  list-style: none;
}
.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  gap: 14px;
}
.header__links-list-item {
  display: flex;
  align-items: flex-start;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}
.header__logo {
  display: block;
  width: 146px;
  height: 105px;
  align-self: center;
  justify-self: center;
}
.header_address {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.header__links-list-item + .header__links-list-item::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin-top: 8px;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
/*-------------------------------------------------------------------------- End of header*/

/*Блок cover*/

.cover {
  min-height: 757px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cover__title {
  font-size: 100px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 115px;
  letter-spacing: 0.3em;
}
.no-letter-spacing {
  letter-spacing: none;
}
.aligned-text_left {
  padding: 165px 0 0 50px;
  display: block;
  text-align: left;
}
.aligned-text_center {
  padding: 22px 0 0 40px;
  display: block;
  text-align: center;
}
.aligned-text_right {
  padding: 20px 20px 0 0;
  display: block;
  text-align: right;
}
.cover__description {
  display: flex;
  padding: 28px 0 0 50px;
  justify-content: space-around;
  align-content: center;
  padding: 106px 25px 0 0;
}
.cover__description-text {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 1em;
  margin-left: 35px;
}
.bet-button {
  display: flex;
  width: 256px;
  justify-content: center;
  align-items: center;
  height: 51px;
  background-color: transparent;
  border: 2px solid white;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 65px;
}
/*----------------------------------------------------------------------------  End of cover*/

/*Блок lots*/

.lots {
  min-height: 723px;
  padding: 0 24px;
}
.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 95px 0 27px 45px;
}
.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
}
.card {
  width: 334px;
  height: 596px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------------------------------------------------------------------------- End of lots*/

/*Блок about*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  background-color: #f5f5f5;
  min-height: 595px;
  padding: 0 24px;
}
.round {
  display: inline-block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

/*-------------------------------------------------------------------------- End of about*/
/*Блок footer*/

.footer {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
